.register-button-container {
    /* margin: 20px; */
    padding-left: 20px;
    font-size: 16px;
    border: none;
  
    background-color: #fff;
    cursor: pointer;
    
  }

  .register-button-container:hover, .list-item:hover {
    color: blue
  }

  .list-item:hover {
    cursor: pointer;
  }